@import 'normalize.css';
@import 'reset.scss';


// main.scss

// Paleta de Cores Cyberpunk
$primary-color: #D6A5E5;    // Roxo Claro
$secondary-color: #A76BCF;  // Roxo Médio
$tertiary-color: #6F2C91;    // Púrpura
$dark-color: #4B0082;        // Roxo Escuro
$neon-blue: #00FFFF;         // Azul Neon
$neon-pink: #FF007F;         // Rosa Neon
$background-color: #1F1F1F;  // Cinza Escuro
$text-color: azure;           // Cor do texto padrão

