$primary-color: #D6A5E5;    // Roxo Claro
$secondary-color: #A76BCF;  // Roxo Médio
$tertiary-color: #6F2C91;    // Púrpura
$dark-color: #4B0082;        // Roxo Escuro
$neon-blue: #00FFFF;         // Azul Neon
$neon-pink: #FF007F;         // Rosa Neon
$background-color: #1F1F1F;  // Cinza Escuro
$text-color: azure;           // Cor do texto padrão

.devl {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Permitindo que as caixas se empilhem em telas menores */

  .devp {
    background-color: rgba(51, 51, 51, 0.9);
    width: 600px;
    height: 300px;
    border-radius: 10px;
    color: $text-color;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens dentro da div */
    text-align: center;

    .imgdev {
      width: 100px;
      height: 100px;
      margin: 0 0 6px 0;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
      object-fit: cover;
    }

    .link {
      color: $text-color;
      &:hover {
        color: $neon-blue; /* Hover na cor do link */
      }
    }
  }

  @media (max-width: 768px) {
    .devp {
      width: 90%;  /* Fazendo os cards ocuparem uma maior parte da tela em dispositivos móveis */
      height: auto; /* Permite que a altura seja ajustada conforme o conteúdo */
      margin: 10px 0; /* Reduzindo o espaço entre os cards */
    }

    .imgdev {
      width: 80px; /* Ajustando o tamanho da imagem */
      height: 80px;
    }
  }

  @media (max-width: 480px) {
    .devp {
      width: 70%;  /* Cards ocupam 100% da largura da tela */
    }

    .imgdev {
      width: 70px; /* Ajustando a imagem para telas muito pequenas */
      height: 70px;
    }
  }
}
